<div class="authform2 container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

  <h1>Your Account</h1>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>

    <fieldset id="general-info">
      <h2>General Information</h2>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    
    <div class="form-group">
      <%= f.label :company_name %>
      <%= f.text_field :company_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :legal_name %>
      <%= f.text_field :legal_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :dba %>
      <%= f.text_field :dba, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :billing_address_line_1 %>
      <%= f.text_field :billing_address_line_1, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :billing_address_line_2 %>
      <%= f.text_field :billing_address_line_2, class: 'form-control' %>
    </div>    

    <div class="form-group">
      <%= f.label :billing_city %>
      <%= f.text_field :billing_city, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :billing_state %>
      <%= f.text_field :billing_state, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :billing_zip %>
      <%= f.text_field :billing_zip, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :billing_phone_number %>
      <%= f.text_field :billing_phone_number, class: 'form-control' %>
    </div>
  </fieldset>

    <fieldset id="contact-info">
      <h2>Contact Information</h2>
      <div class="field form-group">
        <%= f.label :info_website, class: 'control-label' %>
        <%= f.text_field :info_website, class: 'form-control'  %>
      </div>

      <div class="field form-group">
        <%= f.label :info_company_description, class: 'control-label' %>
        <%= f.text_area :info_company_description, class: 'form-control'  %>
      </div>

      <div class="field form-group">
        <%= f.label :info_hours, class: 'control-label' %>
        <%= f.text_area :info_hours, class: 'form-control'  %>
      </div>

      <div class="field form-group">
        <%= f.label :info_customer_service_phone, class: 'control-label' %>
        <%= f.text_field :info_customer_service_phone, class: 'form-control'  %>
      </div>

      <div class="field form-group">
        <%= f.label :info_accounts_payable_person, class: 'control-label' %>
        <%= f.text_field :info_accounts_payable_person, class: 'form-control'  %>
      </div>

      <div class="field form-group">
        <%= f.label :info_marketing_manager, class: 'control-label' %>
        <%= f.text_field :info_marketing_manager, class: 'form-control'  %>
      </div>

      <div class="field form-group">
        <%= f.label :owner_direct_name, class: 'control-label' %>
        <%= f.text_field :owner_direct_name, class: 'form-control'  %>
      </div>

      <div class="field form-group">
        <%= f.label :owner_direct_email, class: 'control-label' %>
        <%= f.text_field :owner_direct_email, class: 'form-control'  %>
      </div>

      <div class="field form-group">
        <%= f.label :owner_direct_phone, class: 'control-label' %>
        <%= f.text_field :owner_direct_phone, class: 'form-control'  %>
      </div>

    </fieldset>

<fieldset>
  <h2>DropBox Info</h2>
  <p>Upload your product spreadsheet and product images to DropBox. Please provide the DropBox URL (link) so we can import them into the YOURNEWGEAR.com store.</p>
  <div class="field form-group">
        <%= f.label :dropbox_info, class: 'control-label' %>
        <%= f.text_field :dropbox_info, class: 'form-control'  %>
      </div>

</fieldset>


    <fieldset>
      <p>Leave these fields blank if you don't want to change your password.</p>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p>You must enter your current password to make changes.</p>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit 'Update', :class => 'btn btn-lg btn-success' %>
  <% end %>
  <fieldset id="cancel-account">
      <div class="authform2">
    <h3>Cancel Account</h3>
    <p>Unhappy? We'll be sad to see you go.</p>
    <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-warning' %>
    </div>
  </fieldset>

</div>


    </div>
  </div>
